<!DOCTYPE html>
<html>
  <head>
      <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>ToryAnderson.com</title>
  </head>
  <body>
    <div id="navbar"></div>
    <div id="app">
      <!-- <div class="container-fluid">
           <div class="card-deck">
           <div class="card-block">
           <h4>Welcome to com.toryanderson</h4>
           <p>If you're seeing this message, that means you haven't yet compiled your ClojureScript!</p>
           <p>Please run <code>lein figwheel</code> to start the ClojureScript compiler and reload the page.</p>
           <h4>For better ClojureScript development experience in Chrome follow these steps:</h4>
           <ul>
           <li>Open DevTools
           <li>Go to Settings ("three dots" icon in the upper right corner of DevTools > Menu > Settings F1 > General > Console)
           <li>Check-in "Enable custom formatters"
           <li>Close DevTools
           <li>Open DevTools
           </ul>
           <p>See <a href="http://www.luminusweb.net/docs/clojurescript.md">ClojureScript</a> documentation for further details.</p>
           </div>
           </div>
           </div> -->
    </div>

    <!-- scripts and styles -->
    {% style "/assets/bootstrap/css/bootstrap.min.css" %}
    {% style "/assets/font-awesome/css/font-awesome.min.css" %}
    {% style "/css/screen.css" %}
    {% style "/css/style.css" %}

    <script type="text/javascript">
        var context = "{{servlet-context}}";
        var csrfToken = "{{csrf-token}}";
    </script>
    <!-- {% script "https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" %} -->
    {% script "/assets/jquery/jquery.min.js" %}

    {% script "/assets/bootstrap/js/bootstrap.min.js" %}
    {% script "/js/app.js" %}
  </body>
</html>




