body {
  background: linear-gradient(#e7e1d5, #524d47);
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-size: 16px;
  line-height: 1.5;
}

body div#app .container {
  border-color: #524d47;
  border-width: 2px;
  border-style: solid;
  padding: 8%;
  background: radial-gradient(white, #e7e1d5, #524d47);
}

div#navbar, nav.navbar {
  background: linear-gradient(#746442, #fff0cb);
}

div#navbar a.navbar-brand, div#navbar a.nav-link, nav.navbar a.navbar-brand, nav.navbar a.nav-link {
  color: #746442;
  margin: 0 5%;
}

div#navbar a.navbar-brand img, div#navbar a.nav-link img, nav.navbar a.navbar-brand img, nav.navbar a.nav-link img {
  height: 100px;
}

div#navbar a.navbar-brand:hover, div#navbar a.nav-link:hover, nav.navbar a.navbar-brand:hover, nav.navbar a.nav-link:hover {
  color: inherit;
}

div#navbar ul.nav.navbar-nav li.nav-item .nav-link, nav.navbar ul.nav.navbar-nav li.nav-item .nav-link {
  color: #746442;
  display: inline-block;
}

div#navbar ul.nav.navbar-nav li.nav-item a.nav-link:hover, nav.navbar ul.nav.navbar-nav li.nav-item a.nav-link:hover {
  color: #524d47;
}

div#navbar ul.nav.navbar-nav li.nav-item .username, nav.navbar ul.nav.navbar-nav li.nav-item .username {
  display: inline-block;
  padding-left: 0.5em;
}

div#navbar .dropdown-menu, nav.navbar .dropdown-menu {
  background: radial-gradient(white, #fff0cb);
  padding: 2px 8px;
}

div#navbar .dropdown-menu a, nav.navbar .dropdown-menu a {
  color: #746442;
}

.jumbotron {
  background: radial-gradient(#fff0cb, #746442);
  color: #746442;
  text-align: center;
  border-style: groove;
}

div.doc {
  display: inline-block;
  margin: 3px;
}

div#funding-options {
  text-align: center;
}

div#funding-options a.btn {
  display: block;
  width: 20%;
  margin: 0.5em auto;
}

.clear {
  clear: both;
}

h2.organization {
  font-style: italic;
  text-decoration: underline;
  font-weight: 700;
}

.resume-item {
  margin-bottom: 60px;
}

.resume-item .title {
  text-decoration: underline;
}

.resume-content li .header {
  font-weight: bold;
}

.resume-content li .description {
  font-weight: 300;
  padding-left: 5px;
}

.resume-skills {
  border-style: solid;
  border-width: 3px;
  padding: 5px;
}

.tep-charsheet input {
  width: 3em;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.tep-charsheet div.table {
  display: table;
  border-style: solid;
  border-width: 1px;
  border-color: #111;
}

.tep-charsheet div.table .row {
  display: table-row;
}

.tep-charsheet div.table .col {
  display: table-cell;
  border-style: solid;
  border-width: 1px;
  border-color: #111;
}

.tep-charsheet .personaldetails .detail {
  display: inline-block;
  margin-right: 1.5em;
}

.tep-charsheet .personaldetails .detail label {
  width: 5em;
  font-weight: 600;
}

.tep-charsheet .personaldetails .detail.detail_Name, .tep-charsheet .personaldetails .detail.detail_Race {
  display: block;
  width: 100%;
}

.tep-charsheet .personaldetails .detail.detail_Name label, .tep-charsheet .personaldetails .detail.detail_Race label {
  position: relative;
  display: inline-block;
}

.tep-charsheet .personaldetails .detail.detail_Name input, .tep-charsheet .personaldetails .detail.detail_Race input {
  width: 30em;
}

.tep-charsheet .points {
  display: block;
  width: 100%;
}

.tep-charsheet .points div {
  display: inline-block;
  width: 25%;
}

.tep-charsheet .points div label {
  width: 3em;
  font-weight: 600;
  display: block;
}

.tep-charsheet .points div input {
  width: 3em;
  height: 3em;
}

/* From the inline styles */
body .contact div, body .contact a {
  display: inline-block;
  white-space: nowrap;
}
